<mat-toolbar color="primary">
   <span>
    <a routerLink="/">My Catalog</a>
   
   </span>
   <span class="spacer"></span>
   <ul>
        <li  *ngIf="userIsAuthenticated">
            <a mat-button routerLinkActive="mat-accent"
             routerLink="/create">New Catalog</a>
        </li>
        <li  *ngIf="!userIsAuthenticated">
          <a mat-button routerLinkActive="mat-accent"
           routerLink="/login">Login</a>
        </li>
        <li  *ngIf="!userIsAuthenticated">
         <a mat-button routerLinkActive="mat-accent"
          routerLink="/signup">Sign Up</a>
       </li>
       <li  *ngIf="userIsAuthenticated">
         <button mat-button (click)="onLogout()">Log Out</button>
       </li>
   </ul> 
</mat-toolbar>
